@page
@model ForgotPasswordConfirmationModel

<h1> </h1>

<p>
    Please check your email to reset your password.
</p>

<!-- Form for resetting password -->
<form method="post" asp-page-handler="ForgotPassword">
    <div class="form-group">
        <label for="inputEmail" style="margin-bottom: 10px;">Enter your email address:</label>

        <input type="email" class="form-control" id="inputEmail" name="email" style="width: 250px; margin-bottom: 15px;" required;"
               *@    </div>

    <button type="submit" class="btn btn-primary" style="width: 250px; margin-bottom: 25px;" required >Reset Password</button>

</form>


<div>
    <a asp-page="./Login">Return to login</a>
</div>

